/* 
    Created on : 31 oct. 2018, 18:03:12
    Author     : Ludovic GENEVOIS
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@media screen and (min-width: 1024px)
{
    .full_width
    {
        width: 100%;
        margin-bottom: 15px;
    }

    .small_width
    {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 15px;
    }

    .photo_accueil_text
    {
        font-size: 45px;
        color: white; 
        margin-top: -37%;  
        margin-right :10%; 
        text-align: center; 
        font-variant: 
            small-caps;
    }

    .width_6_12
    {
        width: 50%;
        float: left;
        position: relative;
    }

    .width_4_12
    {
        width: 33.3333333333%;
        float: left;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
    }

    .width_3_12
    {
        width: 19%;
        float: left;
    }

    .width_2_12
    {
        width: 15%;
        float: left;
    }

    .img-accueil 
    {
        width: 442px;
        height: 247.52px; 
        margin-bottom: 30px;
        /*padding: 0 0 0 30px;*/
    }
    .img-accueil2
    {
        width: 442px;
        height: 247.52px; 
        /*padding:  0 15px 0 15px;*/
    }

    .langue
    {
        height: 32px;
        float: right;
        width: auto;
        margin-top: -2.5%;
        margin-right: 5%;
    }

    .langue-mobile 
    {
        display: none;
    }

    .hamburger 
    {
        display: none;
    }

    .cross 
    {
        display: none;
    }

    html
    {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    body 
    {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
        background: url(../img/back2.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    h1, h2, h3, h4, h5, h6 
    {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    p 
    {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    a 
    {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    a:hover
    {
        color: #FF8000;
        text-decoration: underline;
    }

    a:not([href]):not([tabindex])
    {
        color: inherit;
        text-decoration: none;
    }

    a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus
    {
        color: inherit;
        text-decoration: none;
    }

    a:not([href]):not([tabindex]):focus
    {
        outline: 0;
    }


    li.width_3_12
    {
        display: block;
        text-align: center;
    }

    li.width_3_12 img
    {
        padding-left: 4%;
        border: hidden;
    }

    li.width_3_12 a
    {
        padding-left: 35%;
    }

    li#carre
    {
        margin-top: 5%;
    }

    li#carre a.nav-link
    {
        font-variant: small-caps;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
    }

    .navbar-brand
    {
        display: block;
        font-size: 1.25rem;
    }

    .navbar-brand:hover, .navbar-brand:focus
    {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }

    .nav-link
    {
        display: block;
        color: black;
    }

    .nav-link:hover, .nav-link:focus
    {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }


    .nav-link-footeur
    {
        float: left;
        text-decoration: none;
        display: block;
        color: white;
    }

    .nav-link-footeur:hover, .nav-link-footeur:focus
    {
        text-decoration: none;
    }

    .fixed-top
    {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }

    #langue
    {
        z-index: 3;
    }

    .container
    {
        width: 90%;
        padding-top: 1%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    /*     .container
        {
            width: 80%;
            padding-top: 15%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: 16%;
        }*/

    #navbarTop
    {
        text-align: center;
        position: fixed;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }

    #navbarTop .navbar-collapse .navbar-nav .nav-item 
    {
        display: block;
    }

    a.drapeau-anglais
    {
        margin-left: -5%;
    }

    hr 
    {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
        color: black;
    }

    .m-0 
    {
        margin: 0 !important;
        border: 0.2px solid black
    }


    /* SECTION POUR LE LOGO */

    .img-profile 
    {
        max-width: 10rem;
        max-height: 10rem;
        float: left;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-top
    {
        float: left;
        margin-left: 45%;
        margin-top: -6%;
        width: 172px;
        height: 167px;
    }

    /*************************/

    /* SECTION POUR LES QUATRES CARRES VIDEO */

    div#carre_haut_gauche, div#carre_bas_gauche
    {
        /*border: 1px solid black;*/
        width: 482px;
        height: 280px;
        float: right;
        margin-right: 20%;
        margin-top: 5%;
    }

    div#carre_haut_droit, div#carre_bas_droit
    {
        /*border: 1px solid black;*/
        width: 482px;
        height: 280px;
        float: left;
        margin-left: 20%;
        margin-top: 5%;
    }

    div#carre_bas_droit 
    {
        margin-left: -1%; 
        margin-top: -1%;
    }

    div#carre_bas_gauche 
    {
        margin-right: -1%; 
        margin-top: -1%;
    }

    div#carre_haut_gauche 
    {
        margin-right: -1%; 
    }

    div#carre_haut_droit 
    {
        margin-left: -1%; 
    }
    /************************/

    .btn-map
    {
        float: left;
        position: relative;
        margin-top: 2%;
        margin-left: 48%;
        width: 64px; height: 64px;
    }

    .font_2
    {
        font: normal normal normal 70px/1.4em lulo-clean-w01-one-bold,sans-serif ;
        color:#440506;
    }

    .footeur
    {
        width: 100%;
        height: 30%;
        margin-bottom: -20%;
        padding-bottom: 5%;
        float: left;
        bottom: 0;
    }

    #footer1 
    {
        padding-left: 0%;
    }

    .footeur_bg
    {
        z-index: -99;
        background-image:  url(../img/footerbackground.png);
    }

    .footeur_up width_3_12 
    {
        padding-right : 10%;
    }

    .footeur_up
    {
        z-index: 1;
        color: black;
        padding-left: 20%;
        margin-top: 2%;
    }

    .icon 
    {
        margin-left: 1px;
        display: inline-block;
    }

    .liste_bg
    {
        text-decoration: none;
    }

    span#item-footeur a
    {
        text-decoration: none;
        color: black;
        font-variant: small-caps;
        font-size: 18px;
    }

    span#item-footeur a:hover
    {
        color: black;
    }

    .agenda iframe
    {
        height: 800px;
    }

    .nav-btn
    {
        width:30%;
        display: flex;
        margin-left: 35%;
        margin-right: 35%;
    }
    .btn
    {
        border-radius: 10px;
        box-shadow: 5px 5px 15px black;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) 
{
    .full_width
    {
        width: 100%;
        margin-bottom: 15px;
    }

    .small_width
    {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 15px;
    }

    .width_6_12
    {
        width: 49.83%;
        float: left;
        position: relative;
    }

    .width_4_12
    {
        width: 33.3333333333%;
        float: left;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
    }

    .width_3_12
    {
        width: 100%;
    }

    .width_2_12
    {
        width: 15%;
        float: left;
    }

    .img-accueil 
    {
        width: 150px;
        height: 100px; 
        margin-bottom: 5px;
        /*padding: 0 0 0 30px;*/
    }
    .img-accueil2
    {
        width: 150px;
        height: 100px; 
        /*padding:  0 15px 0 15px;*/
    }

    .langue
    {
        display: none;
    }
    html 
    {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    body 
    {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
        background: url(../img/back2.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    h1, h2, h3, h4, h5, h6 
    {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    p 
    {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    a 
    {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    a:hover 
    {
        color: #FF8000;
        text-decoration: underline;
    }

    a:not([href]):not([tabindex]) 
    {
        color: inherit;
        text-decoration: none;
    }

    a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus 
    {
        color: inherit;
        text-decoration: none;
    }

    a:not([href]):not([tabindex]):focus 
    {
        outline: 0;
    }



    .navbar-brand 
    {
        display: block;
        font-size: 1.25rem;
    }

    .navbar-brand:hover, .navbar-brand:focus 
    {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }

    .nav-link 
    {
        display: block;
        color: black;
    }

    hr {
        display: none;
    }

    .nav-link:hover, .nav-link:focus 
    {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }


    .nav-link-footeur
    {
        float: left;
        text-decoration: none;
        display: block;
        color: white;
    }

    .nav-link-footeur:hover, .nav-link-footeur:focus 
    {
        text-decoration: none;
    }

    .fixed-top 
    {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }


    .container
    {
        width: 90%;
        padding-top: 1%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    /*     .container
        {
            width: 80%;
            padding-top: 15%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: 16%;
        }*/

    #navbarTop 
    {
        text-align: center;
        position: fixed;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }

    #navbarTop .navbar-collapse .navbar-nav .nav-item 
    {
        display: block;
    }

    a.drapeau-anglais
    {
        margin-left: -5%;
    }

    hr 
    {
        display: none;
    }

    .m-0 
    {

    }


    /* SECTION POUR LE LOGO */

    .img-profile 
    {
        max-width: 10rem;
        max-height: 10rem;
        float: left;
        position: relative;
        display: block; 
        margin-left: auto; 
        margin-right: auto;
    }

    .logo-top
    {
        float: left; 
        margin-left: 45%; 
        margin-top: -6%;
        width: 172px; 
        height: 167px;
    }

    /*************************/

    /* SECTION POUR LES QUATRES CARRES VIDEO */

    div#carre_haut_gauche, div#carre_bas_gauche
    {
        /*border: 1px solid black;*/ 
        width: 150px; 
        height: 100px;
        float: right;
        margin-right: 5px;
    }

    div#carre_haut_droit, div#carre_bas_droit
    {
        /*border: 1px solid black;*/ 
        width: 150px; 
        height: 100px;
        float: left;
        margin-left: 5px;
    }

    div#carre_bas_droit {
        margin-top: 10px;
    }

    div#carre_bas_gauche {
        margin-top: 10px;
    }
    /************************/

    .btn-map
    {
        float: left;
        position: relative;
        margin-top: 2%;
        margin-left: 48%;
        width: 64px; height: 64px;
    }

    .font_2 
    {
        font: normal normal normal 70px/1.4em lulo-clean-w01-one-bold,sans-serif ;
        color:#440506;
    }

    .footeur
    {
        width: 100%;
        height: 30%;
        margin-bottom: -20%;
        padding-bottom: 5%;
        float: left;
        position: relative;
        bottom: 0;
    }

    #footer1 
    {
        padding-left: 0%;
    }

    .footeur_bg
    {
        z-index: -99;
        background-image:  url(../img/footerbackground.png);
    }


    .footeur_up
    {
        z-index: 1;
        color: black;
        padding-left: 1%;
        margin-top: 2%;
    }

    .icon 
    {
        margin-left: 1px;
        display: inline-block;
    }

    .liste_bg
    {
        text-decoration: none;
    }

    .espace {
        display: none;
    }

    .logo-top {
        display: none;
    }


    .photo_accueil_text
    {
        font-size: 15px;
        color: white; 
        margin-top: -37%;  
        margin-right :10%; 
        text-align: center; 
        font-variant: 
            small-caps;
    }

    span#item-footeur a
    {
        text-decoration: none; 
        color: black;
        font-variant: small-caps;
        font-size: 18px;
    }

    span#item-footeur a:hover
    {
        color: black;
    }

    .logo-footer {
        display: none;
    }

    .agenda iframe
    {
        height: 500px;
    }

    .map iframe
    {
        height: 300px;
    }


    .hamburger{
        background:none;
        position:absolute;
        top:0;
        right:0;
        line-height:45px;
        padding:5px 15px 0px 15px;
        color:#999;
        border:0;
        font-size:1.4em;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
    }
    .cross{
        background:none;
        position:absolute;
        top:0px;
        right:0;
        padding:7px 15px 0px 15px;
        color:#999;
        border:0;
        font-size:3em;
        line-height:65px;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
    }

    header{
        width:100%; 
        background:#ffffff; 
        height:60px; 
        line-height:60px;
        border-bottom:1px solid #dddddd;
    }

    .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
    .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
    .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
    .menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
    .menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
    .menu ul li a:hover {  color: #666; text-decoration:none;}
    .menu a{text-decoration:none; color:#666;}
    .menu a:hover{text-decoration:none; color:#666;}

    .glyphicon-home{
        color:white; 
        font-size:1.5em; 
        margin-top:5px; 
        margin:0 auto;
    }
    
    header{display:inline-block; font-size:12px;}
    span{padding-left:20px;}
    a{color:#336699;}

    .nav-btn
    {
        width:20%;
        display: flex;
        margin-left: 35%;
        margin-right: 35%;
    }
    .btn
    {
        border-radius: 10px;
        box-shadow: 5px 5px 15px black;
        text-align: center;
    }

    .plan_du_site {
        display: none;
    }

    #wrap 
    {
        font-family: sans-serif;
        font-size: 21px;
        line-height: 1.6;
        /*margin: 0;*/
        display: flex;
        color: #f00;
        transition: transform .4s cubic-bezier(.25, .1, .25, 1);
    }

    #wrap:not(:target) 
    {
        transform: translate3d(-335px, 0, 0);
    }

    #wrap:target 
    {
        transform: translate3d(0, 0, 0);
    }

    #open,
    #close 
    {
        height: auto;
        text-align: center;
        display: block;
        /*margin-right: -30px;*/
    }

    #wrap:target #open,
    #wrap:not(:target) #close 
    {
        display: none;
    }

    #wrap:target #open 
    {
        display: none;
    }

    .nav ul li a,
    .nav div a
    {
        color: white;
        text-decoration: none;
        display: block;
    }

    .header 
    {
        background: #f00;
        width: auto;
        /*padding: 0 20px;*/
        display:inline-block;
        vertical-align:top;
    }

    .nav {
        padding: 25px;
    }

    .main {
        padding: 25px;
        flex: 1;
        display:inline-block;
    }

    p {
        max-width: 590px;
    }

}

/**************** CSS de victor  ***********/

.btn-container
{
    width:50%;
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;

}

.nav-btn
{
    display: flex;
    margin-bottom: 1%;
    margin-left: 26.9%;
}

.btn{
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    margin-left: 0.5%;
    background-color: #e29e6f;
    color: white;
    padding: 5px 15px 10px 10px;
    border: #fff;
    cursor: pointer;
    display: flex;
}

.btn 
{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-orange 
{
    color: white;
    background-color: #F7C169;
    border-color: #F7C169;
    margin-right: 5%;
}

.btn-orange:hover 
{
    color: black;
    background-color: #F7C169;
    border-color: #F7C169;
}

.btn-orange:focus, .btn-orange.focus 
{
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

body, p
{
    font-family: 'Montserrat', sans-serif!important;

}

/**************** CSS de Vincent  ***********/

.agenda
{
    text-align: center;
    width:100%;
}

.agenda iframe
{
    top: 0;
    left: 0;
    width: 80%;
}

.map
{
    text-align: center;
    width:100%;
}

.map iframe
{
    top: 0;
    left: 0;
    width: 70%;
}


/*************** FORMULAIRE DE CONTACT  ***********/
/*-- CONTACT -- */

.contact-container 
{
    padding-top: 3%;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;

}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] 
{
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact 
{
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 
{
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact select {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    margin-left: -3%;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #0055ff;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: rgba(0, 85, 255, 0.5);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

/*********************/




.btn:hover{
    background-color: grey;
}
.image
{
    width: 100%;
}
.casearticle
{
    width: 100%;
    border : 1px solid;
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    background-color: white;
    margin-left: 4%;
}
.casephoto
{
    /*display: flex;
    width: 50%;
    height: 100%;*/
}

.myText
{
    bottom:0;
    right:0;
}

.imageCarte{
    width:150%;
    border: 1px solid;
    display: flex;
}
.photoCarte{
    width: 250px;
    height: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}

.cardLink 
{
    display: flex;
    justify-content: flex-end;
}
.erreur
{ 
    background-color:rgb(237,210,229);
    color:rgb(203,28,128);
    font-size:1.1em;
    width:100%;
}

.succes
{
    background-color:rgb(148, 232, 136);
    color:rgb(18, 140, 7);
    font-size:1.1em;
    width:100%;
}

.alert
{
    max-width: 400px;
    width: 100%;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin: 0 auto;
    margin-top: -2%;
    /*margin-bottom: 18%;*/
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success 
{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger 
{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.publication
{
    width: 88%;
    margin-top: 15%;
    margin-bottom: 5%; 
    margin-left: 12%;
    /*margin-right: 25%;*/
    background-color: white;
    padding: 2% 2% 2% 2%;
}

.menu_gauche
{
    margin-left: -61.5%;
    margin-top: 8.5%;
    text-decoration: none;
    background-color: white;
}

.liste
{
    list-style: none;
    font-variant: small-caps;
    font-weight: bold;

}

.list-item
{
    display: block;
    color: black;
}

.list-item:hover
{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
@media print and (min-width: 1024px)
{
    a{
        color: fuchsia;
    }
}